<!--voting screen-->
<h1>{{ poll.category }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post"> <!--method=post is used to alter data server-side-->
{% csrf_token %}
    {% if poll.category == "current"%}
{% for snack in poll.snacks_set.all %}
    <input type="radio" name="snack" id="snack{{ forloop.counter }}" value="{{ snack.id }}" />
    <label for="snack{{ forloop.counter }}">{{ snack.name }}</label><br />
{% endfor %}
    <!--<li><a>pip</a></li>-->
<input type="submit" value="Vote" />
    {% else %}
    {% for snack in poll.snacks_set.all %}
    <li><a><label for="snack{{ forloop.counter }}">{{ snack.name }}</label><br/></a></li>
    {% endfor %}
    {% endif %}
</form>



